<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frailejon</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    
    />
    <link rel="stylesheet" href="./assets/styles/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fondomenu">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Registrate</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <section class="container">
            <h1 class="fw-bold text-center h-100 w-100">Adquierelo </h1>
            <div class="row row-cols-1 row-cols-md-5">

                <div class="col">
                    <div class="card p-5 shadow text-center h-100">
                        <img src="../../assets/img/producto1.png" alt="p1" class="img-fluid w-100 h-100">
                        <h4>Galletas de cafe</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint.</p>
                        <hr>
                        <h5 class="fw-bold #33FF7A" >$240 USD </h5>
                        <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart-check-fill"></i>
                            
                        </button>

                    </div>
                </div>
                <div class="col">
                    <div class="card p-5 shadow text-center h-100">
                        <img src="../../assets/img/producto2.jpg" alt="p2" class="img-fluid w-100 h-100">
                        <h4>Chiva porcenala</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint.</p>
                        <hr>
                        <h5 class="fw-bold #33FF7A" >$150 USD </h5>
                        <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart-check-fill"></i>
                            
                        </button>

                    </div>
                </div>
                <div class="col">
                    <div class="card p-5 shadow text-center h-100">
                        <img src="../../assets/img/producto3.jpg" alt="p3" class="img-fluid w-100 h-100">
                        <h4>Plato hondo barro</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint.</p>
                        <hr>
                        <h5 class="fw-bold #33FF7A" >$200 USD </h5>
                        <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart-check-fill"></i>
                            
                        </button>

                    </div>
                </div>
                <div class="col">
                    <div class="card p-5 shadow text-center h-100">
                        <img src="../../assets/img/producto4.jpg" alt="p4" class="img-fluid w-100 h-100">
                        <h4>Mango fruta</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint.</p>
                        <hr>
                        <h5 class="fw-bold #33FF7A" >$160 USD </h5>
                        <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart-check-fill"></i>
                            
                        </button>

                    </div>
                </div>
                <div class="col">
                    <div class="card p-5 shadow text-center h-100">
                        <img src="../../assets/img/producto5.jpg" alt="p5" class="img-fluid w-100 h-100">
                        <h4>Poncho</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint.</p>
                        <hr>
                        <h5 class="fw-bold #33FF7A" >$480 USD </h5>
                        <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart-check-fill"></i>
                            
                        </button>

                    </div>
                </div>

            </div>

        </section>
    </main>
</body>
</html>